/* ==================  #1 slide =================== */
.examle {
  background:  #1e5799 url(../pictures/pattern3.png);
  background-repeat: no-repeat;
  background-position: center;
}
srtong {
  font-weight: bold;
  font-style: italic;
}
.comment {
  color: grey;
  font-size: 14px;
}

/* ==================  #2 slide =================== */
.examle > h2 { color: #eee; }

.examle dl {
  width: 400px;
  color: #000;
  float: right;
}
.examle > img { float: left;}

dt {
  font-size: 20px;
  font-weight: bold;
}

dd {
  font-size: 16px;
  font-weight:lighter;
  font-style: italic;
}

dt:first-of-type, dd:first-of-type { color: #333; }
dt:last-of-type,dd:last-of-type  { color: #D5D5D5; }
dl dt, dl dd {  color: #646464; }

/* ================== #end 2 slide =================== */
/* ================== #3 slide =================== */
.slide-bg {
  padding: 50px;
  line-height: 1.2;
}
.slide-bg p { margin: 0; padding: 0;}
.box {
  width: 785px;
  height: 185px;
  margin-top: 10px;
}
.box1 {
  background:  #ccc url(../pictures/pattern100x100.png);
  background-repeat: no-repeat;
}
.box2 {
  width: 785px;
  background:  #ccc url(../pictures/pattern100x100.png);
  background-repeat: repeat;
}
.fl-left {
  float: left;
  width: 560px;
}
.fl-right {
  float: right;
  margin-top: 50px;
}
.box3 {
  width: 560px;
  background:  #ccc url(../pictures/pattern100x100.png);
  background-repeat: repeat-x;
}
.box4 {
  width: 200px;
  height: 410px;
  background:  #ccc url(../pictures/pattern100x100.png);
  background-repeat: repeat-y;
}
/* ================== #end 3 slide =================== */
/* ================== #4 slide =================== */
.box5 {
  width: 880px;
  height: 450px;
  background:  #ccc url(../pictures/pattern100x100.png);
  background-repeat: space;
}
.box6 {
  width: 880px;
  height: 450px;
  background:  #ccc url(../pictures/pattern100x100.png);
  background-repeat: round;
}
/* ================== #7 slide =================== */
.box-left {
  float: left;
  width: 450px;
  line-height: 1.5;
  /*background:  #e0e;*/
}
.box-right {
  float: right;
  width: 450px;
  /*background:  #0ee;*/
}

.box7 {
  height: 350px;
  background:  #ccc url(../pictures/pattern3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.box8 {
  /*width: 880px;*/
  height: 350px;
  background:  #ccc url(../pictures/pattern3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================== #8 slide =================== */
.box9 {
  height: 350px;
  background:  #ccc url(../pictures/pattern3.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.box10 {
  /*width: 880px;*/
  height: 350px;
  background:  #ccc url(../pictures/pattern3.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
}

/* ================== #8 slide =================== */
.box11 {
  height: 350px;
  background:  url(../pictures/pattern100x100.png) 50% 50% no-repeat,
               url(../pictures/layers.png)  25% 25% no-repeat,
               url(../pictures/pattern3.png);
  background-position: center right, 70px 50px, center;
}
.code {
  color: #525;
  font-family: monospace;
  font-size: 14px;
}
/* ================== #11 slide =================== */
.box12 {
  height: 300px;
  background: #ccc url(../pictures/pattern100x100.png) no-repeat;
  background-position: center;
  overflow: scroll;
  background-attachment: fixed;
}
.box13 {
  height: 300px;
  background: #ccc url(../pictures/pattern100x100.png) no-repeat;
  background-position: center;
  overflow: scroll;
  background-attachment: local;
}
/* ================== #12 slide =================== */
.box14 {
  height: 300px;
  background: #ccc url(../pictures/pattern100x100.png) no-repeat;
  background-position: 100px center;
  overflow: scroll;
  background-attachment: fixed;
}
.box15 {
  height: 300px;
  background: #ccc url(../pictures/pattern100x100.png) no-repeat;
  background-position: 100px center;
  overflow: scroll;
  background-attachment: scroll;
}

















/* ================== #4 slide =================== */
