.red { color: red; }
.comment { color: grey; }
.slide { padding-top: 40px; }
p { padding-bottom: 0;  }
#cover > h2 {
  margin:  -30px;
  color: #333;
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 2px hsla(360, 0%, 0%, 0.5);
}

.container {
  padding: 0;
  margin: 0;
  position: relative;
  height: 350px;
}

.box {
  vertical-align: top;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0;
  text-align: center;
  line-height: 150px;
  color: #eee;
}

.one{ background: hsla(110, 40%, 60%, 1); }
.two{ background: hsla(110, 30%, 50%, 1); }
.three{ background: hsla(110, 20%, 40%, 1); }
.four{ background: hsla(110, 10%, 30%, 1); }

.three-r {
  position: relative;
  top: 50px;
  left: -50px;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  padding-top: 40px;
}

.three-a {
  position: absolute;
  top: 0;
  left: -20px;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  padding-top: 40px;
}

.three-a-before {
  position: relative;
}

.three-a-before::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius:10px;
  background: #f00;
  top: -10px;
  left: -10px;
}

img[alt="before"] {
  position: absolute;
  top: 20px;
  right: 200px;
}

img[alt="zondex-n"] {
  position: absolute;
  top: 300px;
  right: 50px;
}

img[alt="zondex-p"] {
  position: absolute;
  top: 300px;
  right: 50px;
}

.w {
  margin-left: 100px;
  position: relative;
}

.two-z, .three-z, .four-z {
  position: absolute;
  top: 20px;
  left:20px;
}

.two-z-r, .three-z-r, .four-z-r {  position: relative; }
.two-z-r {
  top: 20px;
  left: -140px;
}
.three-z-r {
  top: 40px;
  left: -280px;
}
.four-z-r {
  top: 60px;
  left: -420px;
}
.z9 { z-index: 90;}

#op { opacity: 0.5; }
