* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > h1 {   margin-top: 35px; }

h1 {
  font-family: 'Calligraffitti', cursive;
  text-align: center;
  padding: 5px 30px;
  text-shadow: 1px 3px 3px hsla(0, 10%, 0%, 0.3);
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  background-color: beige;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 50px 150px 50px;
  grid-template-areas: "header header header header"
                       "nav main main aside"
                       "footer footer footer footer";
  grid-gap: .25rem;
  box-shadow: 1px 3px 15px 3px hsla(0, 10%, 0%, 0.3);
}

.container-start {  align-items: start; }
.container-end { align-items: end; }
.container-center { align-items: center;}
.container-stretch { align-items: stretch;}

.item-header {
  grid-area: header;
  background-color: hsla(120, 45%, 45%, 0.5);
}
.item-nav {
  grid-area: nav;
  background-color: hsla(210, 45%, 45%, 0.5);
}
.item-main {
  grid-area: main;
  background-color: hsla(280, 55%, 55%, 0.5);
}
.item-aside {
  grid-area: aside;
  background-color: hsla(210, 55%, 55%, 0.5);
}
.item-footer {
  grid-area: footer;
  background-color: hsla(120, 25%, 25%, 0.8);
}
