.red { color: red; }
.comment {
  color: grey;
  font-size: 80%;
}
#cover h2 {
  margin:30px 0 0;
  color: #eee;
  text-align:center;
  font-size:70px;
  text-shadow: 5px 5px 0 #0C3E59;
  }

  #cover p a {
    color:#FFF;
    }
.slide {
  padding-top: 30px;
}

label {
  background-color: lightgreen;
  padding: 2px 10px;
  border-radius: 10px;
}

input {
  background: #151;
  color: #eee;
}
