body {
  background: #999;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 960px;
  margin: auto;
  font-family: sans-serif;
  background: #eee;
}
h2 {
  text-align: center;
}
p {
  margin: auto;
  text-align: center;
}
.ring {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: red;
}

.triangle-t {
  width: 0;
  padding: 0;
  border-bottom: 25px solid green;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;;
}

.triangle-b {
  width: 0;
  padding: 0;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid blue;;
}

.triangle-r {
  width: 0;
  padding: 0;
  border-bottom: 25px solid transparent;
  border-left: 25px solid yellow;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;;
}

.triangle-l {
  width: 0;
  padding: 0;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid red;
  border-top: 25px solid transparent;;
}

.triangle {
  width: 0;
  padding: 0;
  border-bottom: 25px solid green;
  border-left: 25px solid yellow;
  border-right: 25px solid red;
  border-top: 25px solid blue;;
}
